* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --green: rgba(3, 65, 0, 0.957);
  --gray: rgba(64, 64, 64, 1);
}

.business-page {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 2em;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding-bottom: 9em;
  padding-left: 3em;
}

.available-books {
  padding: 1em 1em 3em 0;
}

.available-books p,
h3 {
  text-align: left;
}

.available-books p {
  color: var(--green);
  font-weight: bolder;
}

.available-books img {
  position: relative;
  right: 2em;
  height: 12em;
  width:72%;
}

.available-books button {
  margin: 0.5em 8em 0 0;
  outline: none;
  border: none;
  padding: 0.5em 1em;
  background: var(--green);
  color: white;
  transition: 300ms ease-in-out;
  white-space: nowrap;
}

.available-books button:hover {
  transform: scale(0.95);
}


/* Category name display and home link styling*/
.category {
  position: relative;
  top: 3em;
  margin-left: 13em;
  padding: 3em;
}

.category a {
  text-decoration: none;
  color: var(--gray);
  font-size: larger;
}

.category a:hover {
  text-decoration: underline;
}

.category p {
  font-size: 1em;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
}

.cart-round{
  width: 15px;
  height: 15px;
  background: #034100b1;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
  align-items: center;
  color:#ffffff;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 2px;
}
.cartp{
  text-align: center;

}

@media (max-width: 600px) {
  .category {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-left: 0.5em;
  }

  button .open-btn {
    position: relative;
    right: 5em;
  }

  .business-page {
    position: relative;
    left: 2em;
  }

  .row {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
  }

  .available-books {
    padding-bottom: 2em;
  }

  .available-books img {
    width: 80%;
    position: relative;
    right: 2.5em;
  }

  .available-books p,
  h3 {
    font-size: 1em;
    text-align: left;
    position: relative;
    left: 0.5;
  }

  .available-books button {
    font-size: 0.7em;
    white-space: nowrap;
    position: relative;
    left: 0.1em;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  .business-page {
    align-items: center;
    justify-content: center;
    margin-left: 8em;
  }

  .row {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 0.1em;
  }

  .available-books {
    padding-bottom: 2em;
  }

  .category {
    gap: 11em;
  }

  .available-books button {
    white-space: nowrap;
  }
}
