
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
  
  
:root {
    --green: rgba(3, 65, 0, 0.957);
    --gray: rgba(64, 64, 64, 0.728);
}

.first-content{
    display: flex;
    gap: 2em;
    position: relative;
    left: 22em;
    top: 2em;
    max-width: max-content;
}

.first-content p{
    font-size: 1.5em; 
    color: var(--gray);
}

.first-content .active{
    color: black;
}

.first-content .iconify-icon{
    position: relative;
    right: 1.5em;
}

.first-maincontainer{
    display: flex;
    position: relative;
    top: 5em;
    left: 10em;
    max-width: max-content;
}

.sub-container1 .head-container{
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.head-container .quantity{
    margin-left: 4em;
}

.head-container .price{
    position: relative;
    left: 2em;
    margin-left: 15em;
}

.sub-container1 .inside-content{
    display: flex;
}

.inside-content .btns{
    display: flex;
    position: relative;
    left: 2em;
    top: 3em;
}

.btns button{
    height: 3em;
    padding: 0.5em 1em;
    font-weight: 700;
}

.btns p{
    height: 2.5em;
    padding: 0.5em 1em;
    border: 1px solid gray;
}


.inside-content h3{
    position: relative;
    left: 3em;
    top: 3em;
}

.inside-content .amount2k{
    position: relative;
    top: 3.8em;
    left:-0.8em;
}


.product .write-up{
    max-width: 50%;
    position: relative;
    left: 8em;
    bottom: 3em; 
    color: var(--green);
}

.product .close-btn{
    border: 2px solid var(--gray);
    border-radius: 1.6em;
    padding: 0.2em 0.4em;
    color: var(--gray);
    background: white;
}

.close-btn .iconify-icon{
    position: relative;
    top: 0.2em;
    font-weight: bold;  
}

.product img{
    width: 4em;
    height: 55%;
    position: relative;
    top: 2em;
    left: 1.5em;
}

.sub-container1 .clicks{
    display: flex;
    margin-top: 1em;
    gap: 2em;
}

.sub-container1 .clicks button{
    border: none;
    background: var(--green);
    color: white;
    font-size: 1em;
  
}

button:hover{
    transform: scale(0.95);
}



.sub-container1 .clicks .btn1 button{
    background: transparent;
    color: var(--green);
    border: 2px solid var(--green);
    font-weight: 500;
    padding: 0.6em 2em;
    transition: 300ms ease ease-in;
}

.sub-container1 .clicks .btn2 button{
    padding: 0.6em 1em;
    transition: 300ms ease ease-in;
}
.sub-container1 .clicks .btn3 button{
    position: relative;
    left: 3em;
    padding: 0.6em 1em;
    transition: 300ms ease ease-in;
}

.sub-container2{
    display: flex;
    flex-direction: column;
    gap: 1.7em;
    position: relative;
    left: 4em;

}
.sub-container2 .subtotal{
    display: flex;
    gap: 15em;
}

.sub-container2 .shipping{
    display: flex;
    gap: 10.5em;
}

.shipping .paragraph2{
    color: var(--green);
}

.sub-container2  .total{
    display: flex;
    gap: 16.7em;
}

.payment-method{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.payment-method #options{
    padding: 0.6em 1em;
    border: 2px solid var(--green);
    color: var(--green);
    font-size: 1em;
}

.payment-method label{
    margin-top: 1em;
}


.payment-method button{
    position: relative;
    bottom: 0.5em;
    margin-top: 2em;
    padding: 0.8em 1em;
    background: var(--green);
    color: white;
    border: none;
    outline: none;
    font-size: 1em;
}




/* .payment-method #options{
    display: flex;
    flex-direction: column;
} */


@media (max-width:200px) {

    .cart-page{
        display: block;
    }
    table{
       display: block;
       width: 2em;
        
    }

    tr{
        display: flex;
        flex-direction: column;
    }

    td{
        display: flex;
    }
    

    /* .cart-page table{
        
        display: flex;
        flex-direction: column;
        
    } */
}