* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  :root {
    --green: rgba(3, 65, 0, 0.957);
    --gray: rgba(64, 64, 64, 1);
  }
  
  .literature {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 2em;
  }
  
  .row {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    padding-bottom: 9em;
    padding-left: 3em;
  }
  
  .available-books{
    padding: 1em 1em 3em 0;
  }
  
  .available-books p,
  h3 {
    text-align: left;
  }
  
  .available-books p {
    color: var(--green);
    font-weight: bolder;
  }
  
  .available-books img {
    position: relative;
    right: 2em;
    height: 12em;
    width:72%;
  }
  
  
  .available-books button {
    margin: 0.5em 8em 0 0;
    outline: none;
    border: none;
    padding: 0.5em 1em;
    background: var(--green);
    color: white;
    transition: 300ms ease-in-out;
    white-space: nowrap;
  }
  
  .available-books button:hover {
    transform: scale(0.95);
  }
  
  /* .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--green);
    color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
  }

  .sidebar .close-btn{
    margin-left: 15em;
    padding: 0.3em 0.5em;
    font-weight: bold;
    border: none;
    outline: none;
  }
  
  .sidebar ul{
    padding: 1em 0em 0em;
  }
  
  .sidebar ul li{
    list-style: none;
    padding: 1em;
    border-bottom: 1px solid rgba(255,255,255, 0.2);
  }
  
  .sidebar ul li a{
    text-decoration: none;
    color:var(--white);
  }
  
  .sidebar ul li a:hover{
    transform: scale(0.95);
  }
  
  
  .open-btn {
    position: relative;
    left: 9.5em;
    top: -1em;
    font-size: 1.2em;
    cursor: pointer;
    color: black;
    padding: 0.5em 1em;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  /* } */
  
  /* Category name display and home link styling*/
  .category {
    position: relative;
    top: 3em;
    margin-left: 11em;
    padding: 3em;
  }
  
  .category a {
    text-decoration: none;
    color: var(--gray);
    font-size: larger;
  }
  
  .category a:hover {
    text-decoration: underline;
  }
  
  .category p {
    font-size: 1em;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
  }
  
 
  
  @media (max-width: 600px) {
    .category {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      margin-left: 0.5em;
    }
  
    button .open-btn {
      position: relative;
      right: 5em;
    }
  
    .literature {
      position: relative;
      left: 2em;
    }
  
    .row {
      display: grid;
      grid-template-columns: auto auto;
      align-items: center;
      justify-content: center;
      gap: 0.1em;
    }
  
    .available-books {
      padding-bottom: 2em;
    }
  
    .available-books img {
      width: 80%;
      position: relative;
      right: 2.5em;
    }
  
    .available-books p,h3{
      font-size: 1em;
      text-align: left;
      position: relative;
      left: 0.5;
    }
  
    .available-books button{
      font-size: 0.7em;
      white-space: nowrap;
      position: relative;
      left: 0.1em;
    }
  }
  
  @media (min-width: 600px) and (max-width: 1024px) {
  
      .literature{
          align-items: center;
          justify-content: center;
          margin-left: 8em;
       }
    
      .row {
          display: grid;
          grid-template-columns: auto auto auto;
          align-items: center;
          justify-content: center;
          gap: 0.1em;
       }
  
      .available-books {
         padding-bottom: 2em;
        
      }
  
      .category{
          gap: 11em;
      }
  
      .available-books button{
          white-space: nowrap;
      }
  }
  