*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:  sans-serif;
}

:root{
    --green:  rgba(3, 65, 0, 0.957);
    --gray: rgba(64, 64, 64, 1);
    
}

.non-fiction-cat{
    width: 80%;
    margin: auto;
    text-align: center;
}

.row{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 2em;
}


.available-books p, h3{
 text-align: left;
}

.available-books p{
    color:var(--green);
    font-weight: bolder;
}
.available-books h3{
 margin-top: 2em;
}

.available-books button{
    margin: 0.5em 8em 0 0;
    outline: none;
    border: none;
    padding: 0.5em 1em;
    background: var(--green);
    color: white;
    transition: 300ms ease-in-out;

}

.available-books button:hover{
    transform: scale(0.95);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--green);
    color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 2;
}

.open-btn {
    position: relative;
    left: 10em;
    top: -1em;
    font-size: 1.2em;
    cursor: pointer;
    color: black;
    padding: 0.5em 1em;
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);   
}

/* Category name display and home link styling */
.category{
    margin-left: 9em;
    display: flex;
    gap: 42em;
    padding:3em;
}

.category a{
    text-decoration: none;
    color:var(--gray);
    font-size: larger;
}

.category a:hover{
    text-decoration: underline;
}

.category p{
    font-size: 1em;
    font-weight: bolder;
    white-space: nowrap;
    overflow: hidden;
}

.category #sort-by{
    border: 1px solid white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    padding: 0.5em 1.5em;
    
}

#sort-by:focus{
    outline: none;
}