<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookDen Footer</title>
    <link rel="stylesheet" href="/css/footer.css">
  </head>
  <body>
    <div class="bottom-content">
        <div class="about">
            <h1>ABOUT BOOKDEN</h1>
            <p>
            BookDen website was born out of the growing need to simplify and
            automate bookstore activities, ensuring students can purchase books
            with ease. Traditional bookstores often face challenges such as
            overcrowding, long queues, and limited accessibility, leaving students
            struggling to acquire the materials they need without sacrificing
            valuable time. Recognizing this, the idea of a web-based system
            emerged as a solution to make book purchases more feasible for
            students. This platform offers a streamlined experience, allowing
            users to browse, select, and purchase textbooks online. With features
            like real-time inventory updates, secure payment options, and
            convenient delivery or pickup methods, the website transforms the way
            students access academic resources.
            </p>
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-regular fa-envelope"></i>
        </div>

        <div class="quick-links">
            <a href="">ABOUT US</a>
            <a href="">DEPARTMENT</a>
            <a href="">SHOP</a>
            <a href="">REQUEST FOR A BOOK</a>
        </div>

        <div class="images">
            <img src="/images/logo.jpg.jpg" alt="">
            <img src="/images/unn.jpg.png" alt="">
        </div>
    </div>
  </body>
</html>
