<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header>
      <div class="first-content">
        <article>
          WELCOME TO BOOKDEN BOOKSTORE<br />In collaboration with University of
          Nigeria Nsukka
        </article>
        <p>07084068248</p>
      </div>

      <div class="second-content">
        <div class="part1">
          <img src="/images/logo.jpg.jpg" />
          <input type="text" placeholder="Enter book title or Author" />
        </div>

        <div class="part2">
          <button>LOGIN</button>
          <p>| CART / &#8358;4,000.00</p>
        </div>
      </div>

      <nav>
        <a href="">ABOUT US</a>
        <div class="dropdown">
          <a href="">
            DEPARTMENTS
          </a>
          <div class="dropdown-content">
            <a href="">Agric Science</a>
            <a href="">Computer Science</a>
            <a href="">Economics</a>
            <a href="">English and Lit. Studies</a>
            <a href="">Electrical Engineering</a>
          </div>
        </div>
        <a href="">SHOP</a>
        <a href="">AGENTS</a>
        <a href="">REQUEST FOR A BOOK</a>
      </nav>
    </header>
  </body>
</html>
