<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="first-content">
        <article>
          WELCOME TO BOOKDEN BOOKSTORE<br />In collaboration with University of
          Nigeria Nsukka
        </article>
        <p>07084068248</p>
      </div>

      <div class="second-content">
        <div class="part1">
          <img src="/images/logo.jpg.jpg" />
          <input type="text" placeholder="Enter book title or Author" />
        </div>

        <div class="part2">
          <button>LOGIN</button>
          <p>| CART / &#8358;4,000.00</p>
        </div>
      </div>

      <nav>
        <a href="">ABOUT US</a>
        <div class="dropdown">
          <a href=""> DEPARTMENTS </a>
          <div class="dropdown-content">
            <a href="">Agric Science</a>
            <a href="">Computer Science</a>
            <a href="">Economics</a>
            <a href="">English and Lit. Studies</a>
            <a href="">Electrical Engineering</a>
          </div>
        </div>
        <a href="">SHOP</a>
        <a href="">AGENTS</a>
        <a href="">REQUEST FOR A BOOK</a>
      </nav>
    </header>

    <footer>
      <div class="about">
        <h1>ABOUT BOOKDEN</h1>
        <p>
          BookDen website was born out of the growing need to simplify and
          automate bookstore activities, ensuring students can purchase books
          with ease. Traditional bookstores often face challenges such as
          overcrowding, long queues, and limited accessibility, leaving students
          struggling to acquire the materials they need without sacrificing
          valuable time. Recognizing this, the idea of a web-based system
          emerged as a solution to make book purchases more feasible for
          students. This platform offers a streamlined experience, allowing
          users to browse, select, and purchase textbooks online. With features
          like real-time inventory updates, secure payment options, and
          convenient delivery or pickup methods, the website transforms the way
          students access academic resources.
        </p>
        <i class="fa-brands fa-facebook-f"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-regular fa-envelope"></i>
      </div>
    </footer>
  </body>
</html>
