<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/search-bar.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <header>
      <div class="first-content">
        <article>
          WELCOME TO BOOKDEN BOOKSTORE<br />In collaboration with University of
          Nigeria Nsukka
        </article>
        <p>07084068248</p>
      </div>

      <div class="second-content">
        <div class="part1">
          <div class="images">

            <img src="/images/unn.jpg.png" alt="unn logo" id="unn-logo">
            <img src="/images/logo.jpg.jpg" alt="bookden logo" id="bookden"/>
          </div>
          
          <div id="searchContainer">
            <input
              type="text"
              id="searchBar"
              placeholder="Search books by title, author, or category..." 
              
            />
            <div id="dropdown"></div>
          </div>
        </div>

        <div class="part2">
          <button>LOGIN</button>
          <p>| CART / &#8358;4,000.00</p>
          <i class="fa-solid fa-cart-shopping" id="cart-icon"></i>
        </div>
      </div>

      <nav>
        <a href="">ABOUT US</a>
        <div class="dropdown">
          <a href="/other-pages/agric.html"> DEPARTMENTS </a>
          <div class="dropdown-content">
            <a href="/other-pages/agric.html">Agric Science</a>
            <a href="/other-pages/computer.html">Computer Science</a>
            <a href="/other-pages/literature.html">English and Lit. Studies</a>
          </div>
        </div>
        
        <div class="shops">
          <a href="/other-pages/business.html">SHOP</a>
          <div class="dropdown-content2">
            <a href="/other-pages/fiction.html">Fiction</a>
            <a href="/other-pages/non-fiction.html">Non-fiction</a>
            <a href="/other-pages/business.html">Business</a>
          </div>

        </div>
        <a href="">REQUEST FOR A BOOK</a>
      </nav>
    </header>

    <script src="/script/search-bar.js"></script>
    <script src="/script/header.js"></script>
  </body>
</html>
